html {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(176, 212, 236);
}

body {
    font-size: 1em;
    display: flex;
    justify-content: center;
    line-height: 1.3;
}

h1 {
    text-align: center;
}

#main-div {
    width: 27em;
    border: 0.2em solid rgb(0, 0, 0);
    padding: 0 1em 1em 1em;
    margin: 0;
    background-color: rgb(255, 252, 217);
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    border-radius: 1em;
  }

  #guessField {
    font-size: 1em;
    width: 40%;
  }

  #guessSubmit, button {
    font-size: 1em;
  }

  #guessSubmit {
    width: calc(60% - 8em + 4px);
  }

  #lastResult {
    text-align: center;
  }

  #reset-button-container {
    text-align: center;
  }